<section class="container p-5" id="portafolio">
    <h2 class="text-center">Mis proyectos</h2>
    <hr class="mb-5">

    <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card">
                    <img src="{{url_for('static', filename='img/todo-list.png')}}" alt="Imagen todo-list"
                        class="d-block mx-lg-auto img-fluid">
                    
                    <div class="card-body">
                        <h5 class="card-title">Lista de tareas con Flask</h5>
                        <p class="card-text">Descripcion</p>
                        <a href="#link proyecto" class="nav-link text-primary">Link aquí</a>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <img src="{{url_for('static', filename='img/blog-post.png')}}" alt="Imagen todo-list"
                        class="d-block mx-lg-auto img-fluid">
                    
                    <div class="card-body">
                        <h5 class="card-title">BlogPost con Flask</h5>
                        <p class="card-text">Descripcion</p>
                        <a href="#link proyecto" class="nav-link text-primary">Link aquí</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>